<html>
    <head>
        <title><%= title %></title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.table td{
vertical-align: middle !important;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 4px 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

 .header{
        width: 80%;
        margin: 0 auto; /* Center the DIV horizontally */
    }
    .fixed-header, .fixed-footer{
        width: 100%;     
        background: #00BCD4;
        padding: 10px 0;
        color: #fff;
    }
    .fixed-header{
        top: 0;
    }
	  nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }


</style>
    </head>
    <body>
	<div class="fixed-header">
        <div class="header">
		<nav>
            <a href="/">Home</a> | 
            <a href="/users/add">Add New User</a> | 
            <a href="/users">All Users List</a>
			</nav>
        </div>
	</div>
		
<h1 style="text-align: center;"><%=title%></h1>
